* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: #038c3e;
    font-family: "Montserrat", sans-serif;
}

img {
  display: block;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 960px 1fr;
    padding: 0 20px;
}

.row {
  max-width: 960px;
  margin: 0 auto;
}

.content {
  grid-column: 2;
}

header {
    background-color: #038c3e; 
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    
}

nav img {
    height: 150px;
}

nav img:hover, nav a:hover {
    opacity: 0.4;
}

nav li {
    padding: 1rem;
    width: 100%;
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f2f2f0;
}

.selected {
  opacity: 0.4;
}


#homehero {
    background-image: url(./images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    text-align: center;
    margin: 0 auto 4em;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #000000;
    margin: 0 auto;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

h2 {
    font-size: 3rem;
    color: #000000;
    padding: 10px;
    margin-bottom: 10px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    margin-bottom: 4em;
  }

  .card {
    padding: 1rem;
    background-color: #d9c9ba;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
  }

  .card:hover {
    background-color: white;
    color: black;
  }
  
  .card h3 {
    font-size: 2rem;
  }
  
  .card i {
    font-size: 3rem;
  }

  footer {
    color: #f2f2f0;
    background-color: #038c3e;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    flex-direction: row;
  }
  
  
  footer ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  
  footer li {
    list-style-type: none;
    padding: 10px 0 0 0;
  }
  
  footer a {
    color: #f2f2f0;
    text-decoration: none;
    font-size: 2rem;
  }

  footer a:hover {
      color: #000000;
  }

  footer p {
    align-self: flex-end;
  }

  .about div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .about img {
    height: 400px;
    width: auto;
    border: 2px solid #000000;
    border-radius: 50px;
  }

  .about p {
    width: 25%;
    padding: 20px;
    line-height: 1.5;
  }

  .services p {
    color: #000000;
  }

  .services h3 {
    margin-bottom: 20px;
  }

  .services div {
    margin: 30px;
    padding: 20px;
  }

  .portfolio-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .portfolio-card {
    padding: 1rem;
    background-color: #d9c9ba;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
  }

  .portfolio-card img {
    width: 100%;
  }

  .portfolio-container a {
    text-decoration: none;
    color: #FFFFFF;
  }

  form {
    color: black;
    text-align: left;
    font-size: 1.5em;
  }
  .form-row {
    margin: 10px;
  }
 form input {
   width: 100%;
   line-height: 2;
 }

 textarea {
   max-width: 100%;
 }

 .submit {
   width: 20%;
   height: 30px;
 }
  
  

 @media only screen and (max-width: 992px) {

  #wrapper {
   grid-template-columns: minmax(0, 1fr) minmax(0, 768px) minmax(0, 1fr);
  }
  

  .portfolio-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
}



@media only screen and (max-width: 768px) {
  

  nav {
    justify-content: center;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    padding: 0;
  }
  

#homehero {
  max-height: 400px;
  width: auto;
}

nav img {
  padding: 0;
}
footer {
  flex-direction: column;
}
footer p {
  align-self: center;
}
.about div {
  flex-direction: column-reverse;
}

.portfolio-container {
  margin: 0 auto;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}
}


